// NativeScript core theme
// @see https://docs.nativescript.org/ui/theme
@import '~@nativescript/theme/core';
@import '~@nativescript/theme/default';
@import './scss/forms.scss';
@import './scss/styles.scss';
@import './scss/components.scss';
@import '~nativescript-filter-select/styles.css';

  .header {
    horizontal-align: center;
    font-size: 20;
    font-weight: 600;
    margin-bottom: 40;
    text-align: center;
    color: #5a4ed5;
  }

  ActionBar {
    background-color: #4a8ae9;
    color: #ffffff;
  }

  .page {
    margin-top: 24;
    align-items: center;
    flex-direction: column;
  }
  


